* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    
    background-color: #f1f1f1;   /*'static/background.png'*/
    
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #e6e6e6;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.main-menu {
    display: flex;
    list-style: none;
}

.main-menu li {
    margin-left: 30px;
}

.main-menu a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.hero {
    height: 60vh;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    color: #ffffff;
    margin-top: 15%
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.main-subtitle {
    margin-top: 40px;
    color: #ffffff;
    font-size: 52px;
}
.hero-text p {
    font-size: 24px;
    margin-bottom: 40px;
}

.cta {
    text-decoration: none;
    color: #ffffff;
    background-color: #007aff;
    padding: 10px 20px;
    border-radius: 5px;
}
/* 新增特色产品样式 */
.featured-products {
    padding: 60px 20px;
    background-color: #ffffff;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    width: 300px;
    margin-top: 40px;
}

.product-card img {
    width: 50%;
    height: auto;
}

.product-card h3 {
    margin-top: 20px;
    font-size: 24px;
}

/* 新增关于我们样式 */
.about-us {
    padding: 60px 20px;
    background-color: #f2f2f2;
    text-align: center;
}

/* 新增联系我们样式 */
.contact-us {
    padding: 60px 20px;
    background-color: #ffffff;
    text-align: center;
}

/* 聊天部分 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.chat-header {
    background-color: #007aff;
    color: #ffffff;
    padding: 20px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.back-button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.chat-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 60px; /* 添加此行以向下移动聊天框 */
}


.messages {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    max-width: 60%;
    padding: 10px;
    border-radius: 8px;
}

.user-message {
    background-color: #c6c6c6;
    align-self: flex-end;
}

.server-message {
    background-color: #00ccff;
    color: #ffffff;
}

.message-form {
    display: flex;
    background-color: #f2f2f2;
    padding: 20px;
}

.message-form textarea {
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    resize: none;
    overflow: auto;
    max-height: 100px; /* 最多显示五行内容 */
    white-space: pre-wrap; /* 自动换行 */
    word-wrap: break-word; /* 自动换行 */
}

.message-form button {
    background-color: #007aff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}
