<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script" async></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>与AI助手聊天</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div id="text-box-1" class="text-box-1 text-box-hint">提问应简洁清晰，如：你可以解释【xx】吗，可以举【数字】个例子吗</div>
<div id="text-box-2" class="text-box-2 text-box-hint">可指明角色，如：你现在是【角色】，【要做什么】。下面我将【需求】</div>
<div id="text-box-3" class="text-box-3 text-box-hint">支持连续对话，可以在追问中得到更详细的回答，最多支持约2000字上下文</div>
<div id="text-box-4" class="text-box-4 text-box-hint">更多功能可在"特色服务"处体验<br>有任何问题欢迎联系我们...</div>


<header class="main-header">
    <nav>
        <a href="/" class="logo">返回首页</a>
        <ul class="main-menu">
            <li><a href="#">产品</a></li>
            <li><a href="#">服务</a></li>
            <li><a href="#">支持</a></li>
            <li><a href="#">购买</a></li>
        </ul>
    </nav>
</header>
<main class="chat-main">
    <div class="messages"></div>
</main>
<form id="messageForm" class="message-form">
    <div id="toast" class="toast">发送中...</div>

    <textarea name="message" placeholder="输入消息" rows="1" autocomplete="off"></textarea>
    <select id="modelSelector" name="model">
        <option value="gpt-3.5-turbo">GPT-3.5 Turbo</option>
        <option value="gpt-4">GPT-4 (暂不支持)</option>
    </select>
    <button type="submit">发送</button>
</form>
<script src="/static/scripts.js"></script>
</body>
</html>
