<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script" async></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>与AI助手聊天</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="text-box-1 text-box-hint">提问应简洁清晰，如：你可以解释[xx]吗，可以举几个例子吗</div>
<div class="text-box-2 text-box-hint">提问可指明身份角色更加具体，如：你现在是 [角色]，请 [要做什么]，[描述]。下面我[需求]。例如：我希望你担任我的私人造型师。我会告诉你我的时尚偏好和体型，你来建议我穿的衣服。</div>
<div class="text-box-3 text-box-hint">支持连续对话，可以在追问中得到更详细的回答，目前最多支持约2000字上下文</div>
<div class="text-box-4 text-box-hint">更多功能可返回首页，在"特色服务"处体验<br>反馈及合作请在首页通过邮箱联系我们...</div>


<header class="main-header">
    <nav>
        <a href="../templates/index.html" class="logo">返回首页</a>
        <ul class="main-menu">
            <li><a href="#">产品</a></li>
            <li><a href="#">服务</a></li>
            <li><a href="#">支持</a></li>
            <li><a href="#">购买</a></li>
        </ul>
    </nav>
</header>
<main class="chat-main">
    <div class="messages"></div>
</main>
<form id="messageForm" class="message-form">
    <div id="toast" class="toast">发送中...</div>

    <textarea name="message" placeholder="输入消息" rows="1" autocomplete="off"></textarea>
    <select id="modelSelector" name="model">
        <option value="gpt-3.5-turbo">GPT-3.5 Turbo</option>
        <option value="gpt-4">GPT-4 (暂不支持)</option>
    </select>
    <button type="submit">发送</button>
</form>
<script src="../static/scripts.js"></script>
</body>
</html>
