<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPT体验</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<header class="main-header">
    <nav>
        <a href="#" class="logo">GPT体验</a>
        <ul class="main-menu">
            <li><a href="#">产品</a></li>
            <li><a href="#">服务</a></li>
            <li><a href="#">支持</a></li>
            <li><a href="#">购买</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="hero">
        <!-- ... -->
        <div class="hero-text">
            <h1>欢迎体验</h1>
            <p>目前已经支持连续对话，特色服务的三个图标也可点击</p>
            <a href="{{ url_for('chat') }}" class="cta" id="learnMoreBtn" onclick="handleFunctionType('random_ask',true)">点击体验</a>
            <h2 class="main-subtitle">GPT-CN</h2>
        </div>
        <!-- ... -->

    </section>
    <section class="featured-products">
        <h2>特色服务</h2>
        <div class="product-grid">
            <div class="product-card" onclick="handleFunctionType('translator',false)">
                <img src="../static/a1.jpg" alt="中英翻译器">
                <h3>中英翻译器</h3>
                <p>中英准确地道互译</p>
            </div>
            <div class="product-card" onclick="handleFunctionType('en_essay',true)">
                <img src="../static/a2.jpg" alt="英语作文修改">
                <h3>英语作文修改</h3>
                <p>英语老师般的指导修改</p>
            </div>
            <div class="product-card" onclick="handleFunctionType('paraphrase',false)">
                <img src="../static/a3.png" alt="文章降重">
                <h3>文章降重</h3>
                <p>速度快，效果好</p>
            </div>
        </div>

    </section>
    <!-- 新增关于我们部分 -->
    <section class="about-us">
        <h2>GPT加持</h2>
        <p>全新AI模型，让AI驱动您的创意！</p>
        <p>无论您在寻找高效的问题解决方案、优雅的文本生成，还是专业的建议和指导，</p>
        <p> ChatGPT都能为您提供强大的支持。</p>
        <p>立即加入我们，一起发现智能创意助手带来的无限可能！</p>
    </section>
    <!-- 新增联系我们部分 -->
    <section class="contact-us">
        <h2>想合作？有问题？联系我们！</h2>
        <p>邮箱：xianweizhou08@gmail.com</p>
        <p>邮箱：ranklee2022@outlook.com</p>

    </section>
</main>
<script src="../static/scripts.js"></script>
</body>
</html>

<!-- ... -->